<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunhang.mapper.AdministratorInfoMapper">
  <resultMap id="BaseResultMap" type="com.yunhang.entity.AdministratorInfo">
    <!--@mbg.generated generated on Tue Oct 15 09:00:57 CST 2019.-->
    <!--@Table administrator_info-->
    <id column="administrator_id" jdbcType="VARCHAR" property="administratorId" />
    <result column="administrator_name" jdbcType="VARCHAR" property="administratorName" />
    <result column="administrator_password" jdbcType="VARCHAR" property="administratorPassword" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="login_time" jdbcType="TIMESTAMP" property="loginTime" />
    <result column="role" jdbcType="SMALLINT" property="role" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Tue Oct 15 09:00:57 CST 2019.-->
    administrator_id, administrator_name, administrator_password, `status`, create_time, 
    login_time,role
  </sql>
  <select id="selectByRole" resultMap="BaseResultMap">
    select a.administrator_id, administrator_name, administrator_password, status, create_time, login_time, role from administrator_info a where role=#{role}
  </select>
    <select id="selectByName" resultMap="BaseResultMap">
      select * from administrator_info where administrator_name=#{administratorName}
    </select>
</mapper>