<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunhang.mapper.SpecialKindMapper">
  <resultMap id="BaseResultMap" type="com.yunhang.entity.SpecialKind">
    <!--@mbg.generated generated on Wed Sep 25 18:18:50 CST 2019.-->
    <!--@Table special_kind-->
    <id column="kind_id" jdbcType="INTEGER" property="kindId" />
    <result column="kind_name" jdbcType="VARCHAR" property="kindName" />
    <result column="special_kind_id" jdbcType="INTEGER" property="specialKindId" />
  </resultMap>
</mapper>